footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  align-items: center;
}

.rodape-informacoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rodape-texto {
  margin: 30px;
  padding: 10px;
}

.logo-rodape img {
  width: 150px;
}

.rodape-texto h3 {
  font-size: 24px;
  font-weight: bold;
}

.rodape-texto p {
  font-size: 20px;
}

.desenvolvedor {
  margin: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .rodape-informacoes {
    display: block;
    text-align: center;
  }

  .rodape-texto {
    margin: 10px;
  }

  .logo-rodape img {
    width: 100px;
  }

  .rodape-texto h3 {
    font-size: 20px;
  }

  .rodape-texto p,
  .desenvolvedor {
    font-size: 18px;
  }
}
