header {
  padding: 10px 15px;
  background-color: #f9db79;
}

.topo-position {
  position: fixed;
  height: 80px;
  top: 0;
  width: 100%;
}

.topo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagem-topo {
  width: 90px;
}

.link-topo {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  padding: 5px;
  margin: 0px 5px;
  font-weight: bold;
}

@media (max-width: 436px) {
  .topo {
    flex-direction: column;
  }

  nav {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #aaadaf;
  }

  .topo-position {
    height: 160px;
  }
}
